.bg {
    background-color: blue;
}

.header {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    /* font-size: 72px;
    padding-left: 50px;
    padding-bottom: 0%;
    width: 50%;
    font-size: 100px */
}

.topBody {
    color: rgb(255, 255, 255);
    padding-left: 50px;
}

.headerBg {
    position: relative;
    color: rgb(255, 255, 255);

    background: linear-gradient(to top,
            #639cbb 0%,
            #3c647a 100%);
}